rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{accountId} {
      // Users can read their own accounts. Read includes get and list.
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      // Users can create, update, and delete their own accounts.
      allow write: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    match /transactions/{transactionId} {
       // Users can read their own transactions. Read includes get and list.
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
       // Users can create, update, and delete their own transactions.
      allow write: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
